# Enable URL rewriting
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Route requests to index.php if the requested resource does not exist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L]
</IfModule>

# Deny access to hidden files such as .git and .htaccess itself
<FilesMatch "^\.(ht|git)">
  Order allow,deny
  Deny from all
</FilesMatch>